body{
    
    margin: auto 0;
    color: #000000;
    display: grid;
    place-items: center;
    padding:2%;
    
}
button{
    background-color: #1b0c50;
    color:#ffffff;
    cursor: pointer;
    padding:10px;
    width: auto;
    height: auto;
}

.feature_buttons{
    margin: 10%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    width:90%;
    height:auto;
}
#add_expense{
    padding:50px;
    margin-top: 10px;
    border: 1px solid #274472;
    border-radius: 2%;
    background-color: #d8c4b6;
    color: #032a42;
    width: 350px;
    margin: 0 auto;
    display: none;
    
}

table{
    width:  90%;
    border: #ffffff solid 2px;
    background-color: #3E5879;
}

table th, table td{
    min-width: 100px;
    text-align: center;
}
