*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:550;
}
body {
    background-color: #F5EFE7;
    display: grid;
    place-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

header {
    width: 100%;
    height: 75px;
    background-color: #3E5879;
    color: #ffffff;
    font-style: oblique;
    font-size: 1.5rem;
    text-align: center;
    border: #274472 2px solid;
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#header_text {
    text-align: center;
    margin: 0;
}

button {
    background-color: #213555;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 15px;
    width: auto;
    min-width: 80px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none; /* Remove underline */
}

button:hover {
    background-color: #274472;
    transform: scale(1.05);
}

.feature_buttons {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: auto;
    padding: 20px;
    background-color: #F5EFE7;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#add_expense {
    padding: 50px;
    margin-top: 10px;
    border: 1px solid #274472;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1ece8;
    color: #032a42;
    width: 350px;
    margin: 0 auto;
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1000;
    transition: opacity 1s ease, transform 1s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;
    border: #ffffff solid 2px;
    color: #000000;
    border-radius: 5px;
    background-color: #f1ece8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: medium;
    

}

table th,
table td {
    width: auto;
    text-align: center;
    padding: 15px 20px;
    border: 3px solid #000000;
    font-size: 0.9rem;
}

table th {
    background-color: #D8C4B6;
    color: #000;
    font-weight: bold;
}

table td {
    background-color: #f1ece8;
}

i {
    cursor: pointer;
}

.delete_btn {
    background-color: #f1ece8; /* Matches table background */
    border: none;
    color: #000;
    font-size: 1rem;
    padding: 5px;
    /*border-radius: 50%;*/
    transition: color 0.3s ease, transform 0.3s ease;
}
.delete_btn:hover{
    background-color: #f1ece8;
}
i:hover {
    color: #FF0000; /* Red color on hover */
    transform: scale(1.2);
}

a {
    text-decoration: none; /* Remove underline from links */
    color: inherit;
}

a:hover {
    color: #274472;
    text-decoration: underline;
}